*{
    
    margin: 10px;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
#a1{
    height: 400px;
    width: 45%;
}
#a2{
    height: 400px;
    width: 45%;
    margin-left: 50%;
    margin-top: -31.4%;
}
#a3{
    margin-left: 20%;
}
#lf{
    margin-left: 20%;
    height: 50px;
    width: 50%;
    font-weight: bold;
    border-radius: 15px;
}
#lv{
    margin-left: 10%;
    height: 50px;
    width: 50%;
    font-weight: bold;
    border-radius: 15px;
}
#lf:hover{
    background-color: rgb(108, 184, 228);
}
#lv:hover{
    background-color:  rgb(108, 184, 228);
}